@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-zinc-900 text-zinc-50;
}

.dark {
  @apply bg-zinc-900 text-zinc-50;
}

.light {
  @apply bg-zinc-50 text-zinc-900;
}

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}

.mask-gradient {
  -webkit-mask-image: linear-gradient(to right, transparent, white 20%, white 80%, transparent);
  mask-image: linear-gradient(to right, transparent, white 20%, white 80%, transparent);
}