@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-zinc-900 text-zinc-50;
}

html::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -2;
  
  background: radial-gradient(
    ellipse 80% 80% at 50% -20%,
    hsla(152, 10%, 60%, 0.3), /* hsl(var(--primary), 0.3) */
    rgba(255, 255, 255, 0)
  );

  animation: fade-in-down 0.5s ease-out;
}

/* Si no tienes esta animación en Tailwind, agrégala en CSS */
@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}

.mask-gradient {
  -webkit-mask-image: linear-gradient(to right, transparent, white 20%, white 80%, transparent);
  mask-image: linear-gradient(to right, transparent, white 20%, white 80%, transparent);
}

.github-calendar-wrapper {
  display: flex;
  overflow-x: auto; 
  scroll-behavior: smooth; /* Hace que el scroll sea más fluido */
  direction: rtl; /* Mueve el scroll hacia el final */
}

.github-calendar-container {
  direction: ltr; /* Permite que el contenido dentro del div se vea normal */
}